<h1 class="titleText" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;">Медициналық орталық</h1>
<p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;"><img alt="" style="width: 200px; float: left; margin: 0px 30px 30px 0px;" src="~/Content/images/logo2.jpg" /></p>
<p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;"><strong><span style="color: #363636; font-family: Arial, Helvetica, sans-serif; font-size: 15px; background-color: #ffffff;">Қазақстан Республикасының Президенті 2014 жылғы 17 қаңтардағы &laquo;Қазақстан жолы&nbsp;&mdash; 2050: Бір мақсат, бір мүдде, бір болашақ&raquo; атты Қазақстан халқына Жолдауында Ақтөбе қаласын халықтың және инвестициялардың тартылыс орталығы жәнереспубликаның сапалы медициналық қызмет көрсететін урбанистік орталықтарының бірі ретінде дамыту міндетін қойды."Бес институционалдық реформаларды жүзеге асырудың 100 нақты қадамы&laquo; Ұлттың жоспарында,медициналық мекемелерде корпоративтік басқаруды енгізу көзделген (81-қадам).</span></strong></p>
<table class="attractions" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; width: 808.2px; border-collapse: collapse; height: 399.2px; top: 380.55px;">

    <tbody>
        <tr>
            <td style="width: 80px; border-bottom: 2px solid #afc2ce;">
                <img alt="" src="" />&nbsp;<span style="color: #69a8cf;"><strong></strong></span>
            </td>
            <td style="width: 150px; border-bottom: 2px solid #afc2ce;"><span style="color: #69a8cf;"><strong><img alt="" src="" />&nbsp;<span style="color: #69a8cf;"><strong>Филиал аты&nbsp;</strong></span></strong></span></td>
            <td style="border-bottom: 2px solid #afc2ce;">
                <img alt="" src="" />&nbsp;<span style="color: #69a8cf;"><strong>Ақпарат</strong></span>
            </td>
            <td style="width: 90px; border-bottom: 2px solid #afc2ce;">
                <img alt="" src="" />&nbsp;<span style="color: #69a8cf;"><strong>Мекен-жайы</strong></span><br />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; border-bottom: 1px solid #d6e1e6;"><img alt="" src="" /></td>
            <td style="width: 150px; border-bottom: 1px solid #d6e1e6;">Денсаулық-1</td>
            <td style="border-bottom: 1px solid #d6e1e6;">
                <span style="font-family: Helvetica, Arial, sans-serif;">&bull; Дәрігерлік-консультативті қабылдау, 21 медициналық мамандықтар бойынша;</span><br />
            </td>
            <td style="width: 90px; border-bottom: 1px solid #d6e1e6;"><strong>Алматы қ.,Желтоқсан көшесі #15</strong></td>
        </tr>
        <tr>
            <td style="width: 80px; border-bottom: 1px solid #d6e1e6;"><img alt="" src="" /></td>
            <td style="width: 150px; border-bottom: 1px solid #d6e1e6;">Денсаулық-2</td>
            <td style="border-bottom: 1px solid #d6e1e6;">
                <br />
                &bull; Барлық ішкі органдар ауруларын зертханалық және сәулелік диагностика;
            </td>
            <td style="width: 90px; border-bottom: 1px solid #d6e1e6;"><strong>Алматы қ.,Желтоқсан көшесі #15</strong></td>
        </tr>
        <tr>
            <td style="width: 80px; border-bottom: 1px solid #d6e1e6;"><img alt="" src="" /></td>
            <td style="width: 150px; border-bottom: 1px solid #d6e1e6;">
                Денсаулық-3<br />
            </td>
            <td style="border-bottom: 1px solid #d6e1e6;">
                <br />
                &bull; Функционалды диагностика;
            </td>
            <td style="width: 90px; border-bottom: 1px solid #d6e1e6;"><strong>Алматы қ.,Желтоқсан көшесі #15</strong></td>
        </tr>
    </tbody>
</table>
<table cellpadding="30px" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; width: 100%; background-color: #69a8cf;">
    <tbody>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<div id="qrcode-container" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;">
    <span style="width: 150px;">
            <span style="width: 150px; display: inline !important;">
                <br />
            </span><span style="width: 150px; display: inline !important;">
                <br />
            </span>
       
    </span>
</div>