@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Құпия сөзді қалпына келтілтіруге ұсыныс қабылданды</h1>
</hgroup>
<div>
    <p>
        Почтаңызға құпия сөзді орнату хабарламасы жіберілді
    </p>
</div>
	
